body {
    background-color: #607d8b;
    text-align: center;
    font-family: poppins;
    font-size: x-large;
    color: rgb(202, 210, 233);
}

h1 {
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

.breeder {
    background-color: #f3b1b1;
    margin: 25px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.catalogue {
    background-color: cornflowerblue;
    margin: 25px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.homepage {
    background-color: blanchedalmond;
    margin: 25px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.creator {
    background-color: crimson;
    margin: 25px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.starter {
    background-color: #3f51b5;
    color: white;
    border: none;
    font-size: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.marketplace {
    background-color: rgb(60, 201, 107);
    margin: 25px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}